@import "../../styles/mixins";

.cart {
	width: 40rem;
	min-height: 15rem;
	/* max-height: 50rem; */
	top: 3rem;
	right: 10rem;

	@include respond(mobile) {
		width: 90vw;
		right: 5%;
	}
}

.quantity-container {
	display: flex;
	justify-content: space-between;
	margin-bottom: 3.2rem;
}

.heading-6 {
	font-size: 1.8rem;
	font-weight: 600;
	letter-spacing: 3px;
	line-height: 2.4rem;
}
.paragraph {
	font-size: 1.5rem;
	font-weight: 400;
	line-height: 2.5rem;
	text-align: center;
}

.btn {
	background: none;
	border: none;
	color: rgba(0, 0, 0, 0.5);
	font-size: 1.5rem;
	text-decoration: underline;
	cursor: pointer;
}
.btn:hover {
	color: var(--color-raw-sienna);
}

.list {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 2.4rem;
	overflow-y: auto;
	max-height: 50vh;
	margin-bottom: 5rem;
	padding: 0.3rem;
}
