.cart-item {
	display: flex;
}

.picture {
	height: 6.4rem;
	margin-right: 1.6rem;
}

.picture img {
	height: 100%;
	border-radius: 0.8rem;
}

.product-info {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	font-size: 1.5rem;
	font-weight: 600;
}

.name {
}

.price {
	color: rgba(0, 0, 0, 0.5);
}

.counter-button {
	margin-left: auto;
	align-self: center;
}

.counter-button > * {
	padding: 0.85rem 1.3rem !important;
}
