.cart {
}

.quantity-container {
	display: flex;
	justify-content: space-between;
	margin-bottom: 3.2rem;
}

.heading-6 {
	font-size: 1.8rem;
	font-weight: 600;
	letter-spacing: 3px;
	line-height: 2.4rem;
}

.btn {
	background: none;
	border: none;
	color: rgba(0, 0, 0, 0.5);
	font-size: 1.5rem;
	text-decoration: underline;
	cursor: pointer;
}

.list {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 2.4rem;
	overflow-y: auto;
	max-height: 30rem;
	margin-bottom: 3.5rem;
}
