@import "../../../styles/mixins";

.footer-background {
	background-color: var(--color-black-background);
}

.footer {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(3, min-content);
	padding: 7.5rem 0 4.8rem 0;
	column-gap: 12rem;
	position: relative;

	@include respond(tab-land) {
		grid-template-rows: repeat(4, min-content);
	}
	@include respond(mobile) {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(5, min-content);
		padding: 5.2rem 0 4.8rem 0;

		column-gap: 0rem;
		justify-items: center;
		text-align: center;
	}
}

.logo {
	margin-bottom: 3.6rem;
}

.paragraph {
	grid-column: 1;
	grid-row: 2;
	margin-bottom: 5.6rem;

	font-size: 1.5rem;
	font-weight: 400;
	line-height: 2.5rem;
	color: var(--color-white-50);

	@include respond(tab-land) {
		grid-row: 3;
		grid-column: 1 / span 2;
	}
	@include respond(mobile) {
		grid-row: 3;
		grid-column: 1;
		margin-bottom: 4.8rem;
	}
}

.copyright {
	grid-column: 1;
	grid-row: 3;

	font-size: 1.5rem;
	font-weight: 600;
	line-height: 2.5rem;
	color: var(--color-white-50);
	@include respond(tab-land) {
		grid-row: 4;
	}
	@include respond(mobile) {
		margin-bottom: 4.8rem;
	}
}

.navigation {
	display: flex;
	justify-self: flex-end;
	@include respond(tab-land) {
		grid-column: 1 / span 2;
		grid-row: 2;
		justify-self: flex-start;
		margin-bottom: 3.2rem;
	}
	@include respond(mobile) {
		grid-column: 1;
		justify-self: center;
		margin-bottom: 4.8rem;
	}
}

.icons {
	display: flex;
	gap: 1.6rem;

	justify-self: flex-end;
	align-self: center;

	@include respond(tab-land) {
		grid-column: 2;
		grid-row: 4;
	}
	@include respond(mobile) {
		grid-column: 1;
		grid-row: 5;
		justify-self: center;
	}
}

.icons > * {
	height: 2.4rem;
	cursor: pointer;
}

.icons > *:hover {
	filter: brightness(0) saturate(100%) invert(53%) sepia(45%) saturate(586%)
		hue-rotate(338deg) brightness(95%) contrast(95%);
	scale: 1.1;
}

.footer::before {
	position: absolute;
	left: 0;
	top: 0;
	content: "";
	height: 4px;
	width: 10rem;
	background-color: var(--color-raw-sienna);
}

.nav-items {
	display: flex;
	gap: 3.4rem;
	text-decoration: none;
	@include respond(mobile) {
		flex-direction: column;
		gap: 1.6rem;
	}
}

.nav-item {
	text-decoration: none;
	font-size: 1.3rem;
	font-weight: 600;
	letter-spacing: 1px;
	line-height: 25px;
	text-transform: uppercase;
	color: #ffffff;
	transition: all 0.2s;
}

.nav-item:hover {
	color: var(--color-raw-sienna);
}

.active {
	text-decoration: none;
	font-size: 1.3rem;
	font-weight: 600;
	letter-spacing: 1px;
	line-height: 25px;
	text-transform: uppercase;
	transition: all 0.2s;
	color: var(--color-raw-sienna);
}
