@import "../../styles/mixins";
.products {
	margin-top: 16rem;
	margin-bottom: 5rem;

	@include respond(tab-land) {
		margin-top: 12rem;
		margin-bottom: 5rem;
	}
	@include respond(tab-land) {
		margin-top: 6.4rem;
	}
}

.items {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 16rem;

	@include respond(tab-land) {
		gap: 12rem;
	}
}
