.item {
	display: flex;
	margin-bottom: 2.4rem;
}
.item:last-child {
	margin-bottom: 0;
}

.img {
	width: 6.4rem;
	height: 6.4rem;
	flex-shrink: 0;
}

.img img {
	width: 100%;
	height: 100%;
	border-radius: 0.8rem;
}
.info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
.name-price-box {
	display: flex;
	flex-direction: column;
	margin-left: 1.6rem;
	gap: 0.8rem;
}
.name {
	font-weight: 600;
	font-size: 1.5rem;
}
.price {
	font-weight: 600;
	font-size: 1.4rem;
	color: rgba(0, 0, 0, 0.5);
}
.quantity {
	font-size: 1.5rem;
	font-weight: 600;
	color: rgba(0, 0, 0, 0.5);
}
