.summary {
	background-color: white;
	height: max-content;
	width: 35rem;
	border-radius: 0.8rem;
	padding: 3.2rem;
}
.costs-box {
	padding-top: 2.4rem;
}
.cost-box {
	display: flex;
	justify-content: space-between;
	margin-bottom: 0.8rem;
	font-size: 1.5rem;
}

.cost-box:first-child {
	font-size: 1.5rem;
	font-weight: 400;
	line-height: 2.5rem;
}
.cost-box:last-child {
	font-size: 1.8rem;
	font-weight: 600;
}
.cost-box span {
	color: var(--color-raw-sienna);
}

.heading-6 {
	font-size: 1.8rem;
	font-weight: 600;
	margin-bottom: 3rem;
}

.paragraph {
	font-size: 1.5rem;
	font-weight: 400;
	line-height: 2.5rem;
}
.label {
	font-weight: 400;
	color: rgba(0, 0, 0, 0.5);
	text-transform: uppercase;
}

.amount {
	font-weight: 600;
}
