.backdrop {
	height: 100vh;
	width: 100%;
	top: 0;
	background-color: rgba(0, 0, 0, 0.75);
	z-index: 999999;
	position: fixed;
}

.modal {
	background-color: white;
	position: fixed;
	border-radius: 0.8rem;
	padding: 3.2rem;
	z-index: 999999;
	animation: slide-down 200ms ease-out;
	/* overflow-y: auto; */
}

@keyframes slide-down {
	from {
		opacity: 0;
		transform: translateY(-3rem);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
