@import "../../../styles/mixins";

.gear {
	display: flex;
	align-items: center;
	gap: 6.3rem;
	margin-bottom: 9.6rem;

	@include respond(tablet) {
		flex-direction: column;
	}
}

.content {
	flex: 1;
	@include respond(tablet) {
		display: flex;
		flex-direction: column;
		order: 2;
		padding-inline: 9.6rem;
		text-align: center;
	}
}

.heading-2 {
	font-size: 4rem;
	font-weight: 600;
	letter-spacing: 1.5px;
	line-height: 4.4rem;
	margin-bottom: 3.2rem;
}
.heading-2 span {
	color: var(--color-raw-sienna);
}

.paragraph {
	font-size: 1.5rem;
	font-weight: 400;
	line-height: 2.5rem;
}

.picture {
	flex: 1;
	height: 100%;
	@include respond(tablet) {
		display: flex;
		flex-direction: column;
		order: 1;
	}
}
.picture img {
	width: 100%;
	height: 100%;
	border-radius: 0.8rem;
}
