@import "../../../styles/mixins";

.header {
	display: flex;
	position: fixed;
	top: 0;

	z-index: 9999;
	width: 100%;
	background-color: rgb(25, 25, 25);
	height: 9.6rem;
	transition: all 0.1s;
}

.header.reduce {
	height: 6rem;
}
.header.increaseZIndex {
	z-index: 9999999;
}

.wrapper-header {
	display: grid;
	align-items: center;
	width: 100%;
	position: relative;
	grid-template-columns: 1.2fr 1fr 1fr;
}

.wrapper-header.mobile {
	grid-template-columns: max-content 1fr 1fr;
}

.underline .wrapper-header::after {
	position: absolute;
	content: "";
	width: calc(100% - 19.2rem);
	height: 1px;
	background-color: var(--color-white-50);
	bottom: 0rem;
	transform: translateX(50%);
	right: 50%;

	@include respond(tab-land) {
		width: calc(100% - 12.8rem);
	}
	@include respond(tab-port) {
		width: calc(100% - 8rem);
	}
}

.logo-box {
	display: flex;
}

.logo-box img {
	cursor: pointer;
}

.icon {
	justify-self: flex-end;
}
