.mobileNav {
	top: 9.6rem;
	width: 100%;
	height: 34rem;
	align-items: center;
	border-radius: unset !important;

	transition: all 0.1s;
}

.mobileNav > * section {
	padding-top: 9.6rem;
}

.mobileNav > * a {
	height: 17rem;
}

.mobileNav > * a:hover figure img {
	width: 22rem;
}

.mobileNav > * figure img {
	width: 20rem;
}

.mobileNav.reduce {
	top: 6rem;
}
