.header {
	z-index: 9;
	width: 100%;
}

.header .background {
	background-color: var(--color-black-background);
}

.wrapper-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 9.6rem;
	position: relative;
}

.wrapper-header::after {
	position: absolute;
	content: "";
	width: calc(100% - 19.2rem);
	height: 1px;
	background-color: var(--color-white-50);
	top: 9.6rem;
	left: 50%;
	translate: -50%;
}

.logo-box {
	cursor: pointer;
}
