@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Manrope", sans-serif;
}

body {
  background-color: var(--color-light-grey);
}

/* Typography */
[class*=heading] {
  text-transform: uppercase;
}

.heading-1 {
  font-size: 5.6rem;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: 5.8rem;
  color: var(--color-light-grey);
}

.heading-2 {
  font-size: 4rem;
  font-weight: 600;
  letter-spacing: 1.5px;
  line-height: 4.4rem;
}

.heading-3 {
  font-size: 3.2rem;
  font-weight: 600;
  letter-spacing: 1.15px;
  line-height: 3.6rem;
}

.heading-4 {
  font-size: 2.8rem;
  font-weight: 600;
  letter-spacing: 1.15px;
  line-height: 3.6rem;
}

.heading-5 {
  font-size: 2.4rem;
  font-weight: 600;
  letter-spacing: 1.7px;
  line-height: 3.3rem;
}

.heading-6 {
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 3px;
  line-height: 2.4rem;
}

.overline {
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 10px;
  line-height: 1.9rem;
  text-transform: uppercase;
  color: var(--color-white-50);
}

.paragraph {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.5rem;
}

.subtitle {
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 25px;
  text-transform: uppercase;
}

/* Colors */
:root {
  --color-light-grey: #fafafa;
  --color-grey: #f1f1f1;
  --color-raw-sienna: #d87d4a;
  --color-tacao: #fbaf85;
  --color-black: #101010;
  --color-black-background: #141414;
  --color-grey-border: #96969633;
  --color-white-50: rgb(125, 125, 125);
  --color-white-75: rgba(255, 255, 255, 0.75);
  --color-grey-button: #4c4c4c;
  --section-block-margin: 16rem;
}

.btn {
  display: inline-block;
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.2s;
  cursor: pointer;
  border: none;
  z-index: 10;
}

.btn--1 {
  padding: 1.5rem 3rem;
  background-color: var(--color-raw-sienna);
  color: var(--color-light-grey);
  text-align: center;
  border-radius: 0.8rem;
}

.btn--1:hover,
.btn--1:active {
  background-color: var(--color-tacao);
}

.btn--2 {
  color: var(--color-black);
  padding: 1.5rem 3rem;
  border: 1px solid black !important;
}

.btn--2:hover,
.btn--2:active {
  color: white;
  background-color: var(--color-black);
  border: 1px solid transparent;
}

.btn--3 {
  color: var(--color-light-grey);
  background-color: var(--color-black);
  padding: 1.5rem 3rem;
}

.btn--3:hover,
.btn--3:active {
  background-color: var(--color-grey-button);
}

.btn--shop {
  color: grey;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.btn--shop img,
.btn--shop img {
  margin-left: 1rem;
}

.btn--shop:hover,
.btn--shop:active {
  color: var(--color-raw-sienna);
}

.button {
  background-color: var(--color-raw-sienna);
  border: none;
  color: white;
  padding: 1.5rem 3.4rem;
}

.font-white75 {
  color: var(--color-white-75);
}

.block-margin-large {
  margin-block: 16rem;
}

.top-margin-small {
  margin-top: 3.2rem;
}

.full-width {
  width: 100%;
}

.bg-checkout {
  background-color: var(--color-grey) !important;
}/*# sourceMappingURL=globals.css.map */