@import "../../../styles/mixins";
.categories {
	padding: 20rem 0 16.8rem 0;

	display: flex;
	justify-content: space-between;
	gap: 3rem;

	@include respond(tab-land) {
		padding: 12.6rem 0 0 0;
		margin-bottom: 6.4rem;
	}

	@include respond(tab-port) {
		flex-direction: column;
		align-items: center;
	}
}
